body {
  color: #303030;
  background: #f0f0f0; 
}

body h1, body h2, body h3 {
  font-weight: lighter;
  text-shadow: 1px 1px 1px #707070;
}

body main {
  margin: 30px auto;
}

body h2 {
  text-align: center;
}

body .index__main .index__main__img__section .index__main__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit:cover;
  margin-bottom: 50px;
  border: 0.9px solid #000;
}

body .index__main .index__senter__text {
  text-align: center;
  margin-bottom: 120px;
}

body .index__main .index__senter__text .index__profile__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .index__main .index__senter__text .index__senter__p {
  width: 95%;
  margin: 40px auto;
}

body .index__main .index__work__container {
  width: 100%;
  margin: auto;
}

body .index__main .index__work__container .index__work__text .index__work__p {
  text-align: center;
}

body .index__main .index__work__text .index__work__p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

body .index__main .index__work__container2 .index__work__content {
  width: 100%;
  margin: 40px auto;
}

body .index__main .index__work__container2 .index__work__content .index__work__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3px 3px 3px #000;
          box-shadow: 3px 3px 3px #000;
}

body .index__main .index__work__container2 .index__work__content .index__work__a {
  width: 98%;
}

body .footer .index__end__p {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 2px;
}

.contact__body {
  width: 100%;
  margin: auto;
}

.contact__body .contact__header {
  width: 85%;
  margin: 20px auto 30px;
}

.contact__body .contact__header .contact__head__div1 .work__link__icon {
  padding-top: 30px;
}

.contact__body .contact__header .contact__head__div1 .work__link__icoco {
  width: 45px;
  border-radius: 50%;
}

.contact__body .contact__main {
  width: 70%;
  margin: 70px auto 80px;

}

.contact__body .contact__main .contact__explain {
  margin-bottom: 30px;
}

.contact__body .contact__main .contact__section {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  height: 470px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.contact__body .contact__main .contact__section .contact__span {
  display: block;
  padding-top: 20px;
}

.contact__body .contact__main .contact__section input, .contact__body .contact__main .contact__section textarea {
  opacity: 0.9;
  /* width: 80%; */
  width: 100%;
  /* max-width: 450px; */
}

.contact__body .contact__main .contact__section .contact__btn {
  border: 0.1px solid #000;
  border-radius: 7%;
  width: 60px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 1px 1px 1px #909090;
          box-shadow: 1px 1px 1px #909090;
}

.contact__body .contact__footer {
  width: 85%;
  margin:100px auto 0; 
}

.contact__body .contact__footer .contact__p {
  margin: 50px auto 0;
  font-size: 0.2rem;
  text-align: center;
}

.contact__body a {
  text-decoration: none;
  color: #000;
}

.contact__body .contact__h2 {
  font-size: 1.2rem;
}

header, main, footer {
  width: 85%;
  margin: auto;
}

/* .work__header {
  margin-bottom: 30px;
} */
.work__header{
  width: 80%;
  margin: 20px auto 0;
}

.work__header .work__head__div1 {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__header .work__head__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.work__section{
  margin: 100px auto;
}
.work__section .work__div {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 40px auto;
}

.work__section .work__div .work__link {
  text-decoration: none;
  color: black;
}

.work__section .work__div .work__link .work__img {
  width: 95%;
  max-width: 700px;
  height: 30%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
     box-shadow: 5px 5px 5px #606060;
}

.work__section .work__div .work__link .work__p {
  width: 50%;
  margin: 0px auto;
  font-size: 0.8em;
}

.work__foot__attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 30%;
  margin: 40px auto;
  padding-left: 9%;
}

.work__foot__attention .work__foot__list__li {
  padding-left: 6px;
}

.work__foot__attention .work__foot__list__count {
  padding-right: 20px;
}

.work__foot__attention .work__foot__link {
  text-decoration: none;
  color: #000;
}

.work__end__p {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.end__a__page{
  opacity: 0.7;
  color: #000;
  text-decoration: none;
}



.index__head__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: auto 0;
}

.index__head__ul .index__head__li {
  padding-right: 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index__head__ul .index__head__li .contact__a__naw {
  opacity: 0.5;
  color: #000;
  text-decoration: none;
}

.index__head__ul .index__head__li .index__head__link {
  color: #000;
  text-decoration: none;
}

.work__link__icon {
  padding-top: 20px;
}

.work__link__icoco {
  width: 45px;
  border-radius: 50%;
}

.work__h3 {
  margin: 10px auto 2px;
}


@media (min-width:700px){
  body {
    font-size: 1.2rem;
  }

  h1{
    font-size: 2.5em;
  }

  .contact__body {
    width: 80%;
    margin: auto;
  }
  .index__work__img {
    height: 100%;
  }
  .index__main .index__work__container .index__work__container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .index__main .index__work__container .index__work__container2 .index__work__content {
    width: 28%;
  }
  body .index__main .index__main__img__section .index__main__img{
    height: 650px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .index__main__img__section{
    width: 90%;
    margin: auto;
  }
  .work__foot__attention{
    padding-left: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */