
body{
  margin: 0;
  padding:0;
  width: 100%;
}
  
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main{
  width: 100%;
  margin: 0;
  text-align: center;
}

a{
  text-decoration: none;
  color: #000;
  font-weight:bold;
  font-size: 15px;
}

.li1{
  padding-right: 10px;
}
.li2{
  padding-right: 50px;
}

.top__img{
  width: 90px;
  height: 30px;
  padding-left: 50px;
  vertical-align:middle;
}

.top__list{
  list-style-type: none;
  display: flex;
}


.main__img {
  margin: 0 auto 50px;
  width:100%;
  /* max-width: 1200px; */
  /* text-align: center; */
  /* line-height: 1; */
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: solid 3px black;
  display: inline-block;
  line-height: 30px;
}
#culture{
  margin-bottom: 20px;
}

.profile__container{
  justify-content: center;
  height: 150px;
  align-items: flex-start;
  margin-bottom: 100px;
}
.profile__img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #000;
}
.profile__text{
  text-align: center;
  margin-left: 0;
  margin-top:0;
}

span{
  font-weight: bold;
}
.main__section{
  justify-content: center;
}

p{
  margin: 0 auto 40px;
}
h4{
  margin: 0;
}
/* pとh4は後から追加 */


.cafe__img{
 width: 220px;
 height: 160px;
 /* margin-top: 50px;
 topには付けたくないので無くすことを検討すべし */
 border: 3px solid black;
}

section{
  margin-bottom: 70px;
}

.footer__p{
  text-align: center;
}

h2,span,p,h4,li{
  opacity: 0.9;
}

@media
  (min-width:600px)
  {
    .cofe__img{
      width: 150px;
    }
    .top__img{
      width: 120px;
      height: 40px;
      padding-left: 70px;
      vertical-align: middle;
    }
    a{font-size: 20px;
    }
    .top__list{
      list-style-type: none;
      display: flex;
    }
  }
    
 @media(min-width: 800px){
   .li1{
    padding-right: 30px;
    }
   .li2{
     padding-right: 100px;
    }
    h2{
       font-size: 30px;margin-bottom: 50px;border-bottom: solid 4px black;
    }
    .profile__container{
      display: flex;
      margin-bottom: 0;
     }
     .profile__text{
      margin-left: 20px;
      text-align: left;margin-top:7px;
     }
     .main__section{
     display: flex;
    }
    #culture{
      margin-bottom: 50px;
    }
  }

