
body{
  width: 100%;
  margin: 0 auto;
  font-weight:lighter;
  background: #f0f0f0;
}
main{
  margin: inherit;
}
header{
  width: 100%;
  margin: auto ; 
  display: flex;
  justify-content: space-between;
}
h1{
  letter-spacing: 0.1em;
  margin: 0;
  padding-left: 10px;
  font-weight: lighter;
}
/* .head__container{
  display: flex;
  justify-content: space-between;
} */
.head__list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-left: 10px;
  font-size: 0.9rem;
}
.head__list__li{
  margin-right: 10px;
}
.head__link{
  height: 100%;
  width: 50px;
  color:#f0f0f0;
}
.main__img{
  margin: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
}
article{
  width: 95%;
  margin: inherit;
}
h2{
  font-weight:lighter;
  width: 40%;
}
.h2__1{
  font-size: 1.6em;
  letter-spacing: 0.2em;
  margin: 0;
}
.h2__2{
  margin-top: 0;
  font-size: 0.6em;
  width: max-content;
  box-sizing: border-box;
  text-align: left;
}
.border{
  border-bottom: 1px solid #000;
  width: 50px;
}
.article__list{
  list-style-type: none;
  padding-left: 0;
  font-size: 0.9rem;
  margin-bottom: 38px;
  height: 60px;
}
span{
  display: inline-block;
  background: #000;
  color:white;
  font-size: 0.8em;
  width: 50px;
  height: 18px;
  box-sizing: border-box;
  text-align: center;
}
.introduction__div1{
  width: 95%;
  margin: auto;
}
.introduction__img{
  height: 350px;
  width: 100%;
  margin: 50px auto 0;
  max-width: 900px;
  object-fit: cover;
}
.introduction__p{
  margin: 40px 0 70px;
  font-size: 0.9rem;
  line-height: 30px;
}
.img__container{
  width: 95%;
  margin: auto;
}
.img__link__text{
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
}
.img__link{
  text-decoration: none;
}
.img__link ::before{
  content: "-";
}
.img__link__item{
  width: 100%;
}
.img__link__item2{
  width: 100%;
}
.foot__container{
  background: white;
  width: 95%;
  margin:30px auto;
}
.foot__container__div{
  width: 90%;
  margin: auto;
  padding:15px 0 ;
  font-size: 0.9rem;
}
.foot__container__div2{
  width: 95%;
  margin: 0 auto;
  height: 400px;
}
.foot__container__img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
footer{
  width: 100%;
  background: white;
}
dt{
  padding-top: 10px;
}
dd{
  padding: 6px;
  line-height: 25px;
}
.end__container{
  width: 95%;
  margin:auto ;
}
.footer__text{
  font-size: 0.9rem;
}
h3{
  font-size: 1.9em;
  font-weight: lighter;
  letter-spacing: 0.2em;
  margin: 0;
  padding-top: 40px;
}
.end__p{
  font-size: 0.5rem;
  padding: 40px 0 30px;
  margin: 0;
}
@media (min-width:900px){
  .head__link{
    height: 84.4px;
    width: 200px;
    color:white;
    background: #000;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
  }
  .head__container{
    display: flex;
  }
  h1{
    margin:auto ;
  }
  .head__list{
    margin: auto;
    padding-left: 10%;
  }
  .head__list__li{
    padding-left: 15px;
  }
  article{
    width: 100%;
    max-width:800px;
    margin: 80px auto 50px;
  }
  .article__container{
    display: flex;
    /* margin-left: 100px; */
    justify-content: space-between;
  }
  .article__list{
    padding-left: 10px;
    border-left: 1px solid black;
  }
  .introduction__container{
    display: flex;
    justify-content: space-between;
  }
  .introduction__div{
    width: 65%;
    margin: 0;
  }
  .introduction__div1{
    width: 35%;
    margin: 100px 50px;
  }
  .img__container{
    width: 60%;
    margin: auto;
  }
  .img__container__item{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  .img__link__item{
    width: 90%;
    margin: auto;
    border: 2px solid black;
  }
  .img__link1{
    margin: 10px;
  }
  .foot__all{
    display: flex;
    width: 90%;
    margin:40px auto;
    position: relative;
  }
  .foot__container{
    display: flex;
    width: 70%;
    margin-left: 0;
  }
  .foot__container__div{
    width: 50%;
  }
  .foot__container__div2{
    width: 50%;
    margin-top: 85px;
    position: absolute;
    left: 55%;

  }
  .foot__container__img{
    width:90%;
    box-sizing: border-box;
  }
  dt{
    padding:0;
  }
  dd{
    padding-left: 30px;
    line-height: 15px;
  }
  .end__container{
    display: flex;
    justify-content:space-between;
    width: 70%;
    height: 120px;
    padding-top: 50px;
  }
  .end__p{
    text-align: center;
    padding-bottom: 10px;
  }
}
